<nav class="menu" style="
     background-color: lightskyblue;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
" >
  <LinkTo @route="index" class="menu-index">
    <h1>Axis</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>
  </div>
  {{yield}}
</nav>
